@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>An example of .NET Core Application with Google Cloud Platform. Google Datastore Technology 
    (Cloud-based NoSQL) is used to store data and Google Cloud Storage is used to share files. Inlcudes google authentification, comments and ratings.</p>
