@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    392 Sherbourne St.<br />
    Toronto, ON<br />
    <abbr title="Phone">P:</abbr>
    
</address>

<address>
    <strong>My email:</strong> <a href="mailto:zuuutyan@gmail.com">zuuutyan@gmail.com</a><br />
</address>
